@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  /* max-height: 100vh; */
  min-height: 100vh;

  font-weight: normal;

  transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

a,
/* .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */
.blue {
  text-decoration: none;
  color: rgba(0, 208, 255, 0.575);
  transition: 0.4s;
 }

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 100%) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
